# Ignore Python cache files
__pycache__/
*.pyc

# Ignore lib, share, scripts, etc, checkpoint, include and environment folders
Lib/
share/
Scripts/
.ipynb_checkpoints/
include/
etc/
venv/
.env

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore config files
*pyvenv.cfg